ul {
    list-style:none;
    padding: 0px;
    background-color: antiquewhite;

}

.div_lien {
    margin: auto;
    width:25%;
}

.hamburger {
    width: 10%;
    margin: auto;
    justify-content: flex-start;
}

.img_hamburger {
    width:100%;
}

.div_lien {
    padding: 0.5%;
}

.div_lien:hover {
    background-color: bisque;
}

.img_menu {
    width: 45px;
    display: none;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
    
    ul {
        display: flex;
    }
    
    .img_menu {
        display: inline;
    }
}