ul {
    list-style:none;
    padding: 0px;
    background-color: antiquewhite;

}

.div_lien {
    margin: auto;
    width:25%;
}

.hamburger {
    width: 30%;
    margin: auto;
}

.img_hamburger {
    width:100%;
}